/* Loading Image */
div.gallerie-loading {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 126px;
	height: 22px;
	margin: auto;
	z-index: 10000;
	background: url("loading.gif");
}

/* Image Title Text */
.gallerie-title {
	
}

/* Image Index */
.gallerie-index {
	
}

/* Gallery Overlay */
.gallerie-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.9);
	z-index: 1000;
}

/* Image Box Container */
.gallerie-imagebox {
	width: 100%;
	height: 70%;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 2% 0px 0px 0px;
}

.gallerie-imagebox img {
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	border: 4px solid white;
	border-radius: 5px;
}

.gallerie-imagebox:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Caption Box Container */
.gallerie-captionbox {
	color: white;
	width: 100%;
	height: 3%;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 5px;
	margin-bottom: 2%;
}

.gallerie-captionbox:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Thumb Box Container */
.gallerie-thumbbox {
	height: 27%;
	min-width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: left;
	white-space: nowrap;
}

.gallerie-thumbbox ul {
	position: relative;
	left: 0px;
}

.gallerie-thumbbox li {
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	cursor: pointer;
}

.gallerie-thumbbox img {
	max-width: 100%;
	max-height: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	opacity: 0.60;
	vertical-align: middle;
}

.gallerie-thumbbox-hover img {
	opacity: 1.0;
	border-color: #0ff;
}

.gallerie-thumbbox-selected img {
	opacity: 1.0;
	border-color: #ff0;
}
